.mt-1 {
  margin-top: 1rem !important;
}

.fbShareBtn {
  background-color: #3578e5;
  width: 50px;
  text-align: center;
  border-radius: 999px;
  padding: 3px;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
}
